__pycache__
*/images

# coinhsl
thirdparty/coinhsl/coinhsl
thirdparty/coinhsl/config.log
thirdparty/coinhsl/config.status
thirdparty/coinhsl/Makefile
thirdparty/coinhsl/libtool
# pixi environments
.pixi
*.egg-info
